.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    transition: all 0.5s
}

.dark {
    background-color: #000
}

.dark-content {
    color: #fff;
    background-color: #080808
}